<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Crud</title>
    </head>
    <body>
        <h1>Registration form</h1>
        <h3>Enter your name:</h3>
        <form action="crud" method="post">
            <input type :"text" name="uname"><br><br>
            <button type="submit" name="Button">SUBMIT</button>
        </form>
    </body>
</html>