<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Crud</title>
    </head>
    <body>
        <h1>LCRUD</h1>
        
        <form action="/dash" method="post">
            <p>Login, successsful!!</p>
            <button type="submit" name="Button">Register</button>
        </form>
        
    </body>
</html>